.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .header {
    font-size: var(--bigger-font-size);
    text-align: center;
    margin: 1rem;
    min-width: 150px;

    & h1{
      font-weight: var(--font-semibold);
    }
  }

  & p {
    font-size: var(--big-font-size);
    margin-bottom: 2rem;
    font-weight: var(--font-medium);
  }

  & img {
    width: 100%; /* La imagen se ajusta al ancho de su contenedor */
    max-width: 70%; /* Evita que se haga más grande que su contenedor */
    position: relative;
    display: inline-block;
    height: auto;
    min-height: 200px; /* Altura mínima para SVG */
    object-fit: contain; /* Mantiene la proporción */
    filter: brightness(0.8) drop-shadow(0 0 10px var(--hover-color)); /* Agregamos brightness */
    opacity: 0.8;
    margin-top: 2rem;
  }
}

/* Para tablet */
@media screen and (min-width: 618px) and (max-width: 1149px) {
  .main__content img {
    max-width: 55%; /* Tamaño intermedio para tablet */
  }
}

/* Para desktop */
@media screen and (min-width: 1150px) {
  .main__content img {
    max-width: 40%; /* Reducimos el tamaño en desktop */
  }
}