.projects {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: auto; /* Centra el bloque de texto */
  margin-right: auto;
  padding: 0 1rem;
  max-width: 43rem;

  & .project__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;

    & .project-title {
      font-size: var(--big-font-size);
      margin: 1rem auto;
      font-weight: var(--font-medium);
    }

    & .project-line {
      min-width: 60%;
      margin: 1rem auto;
      border: none;
      height: 1px;
      background: linear-gradient(
        to right,
        transparent,
        var(--hover-color),
        transparent
      );
    }
  }

  & .projects__container {

    & .projects__img{
      filter: blur(0.2rem);
      transition: all 1s ease;
    }

    & .projects__img:hover{
      filter: blur(0);
      filter: brightness(1.2);
    }

    & .projects__card {
      border: 1px solid #373535;
      background-color: var(--secondary-color);
      border-radius: 10px;
      padding: 1rem;
      margin-bottom: 1rem;
      opacity: 0.9;
      transition: all 1s ease;

      & .projects__modal {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        & .projects__title {
          font-size: var(--h2-font-size);
          margin-bottom: 1rem;
          font-weight: var(--font-medium);
        }

        & .projects__button {
          margin-top: 1rem;
          max-width: 10rem;
          text-align: center;
          background-color: var(--hover-color);
          color: var(--white-color);
          font-weight: var(--font-medium);
          padding: 0.5rem;
          border: 1px solid var(--hover-color);
          border-radius: 0.4rem;
          transition: all 1s ease
        }

        & .projects__button:hover {
          background-color: var(--hover-color);
          border: 1px solid var(--secondary-color);
          box-shadow: 0 12px 28px rgba(0, 0, 0, 0.2);
          opacity: 0.8;
        }
      }
    }

  }
}




@media (min-width: 320px) and (max-width: 360px) {
  .projects{
    margin-right: 0.7rem;
  }
}