.skills {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: auto; /* Centra el bloque de texto */
  margin-right: auto;
  padding: 0 1rem;

  & .skills__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;

    & .skills__title {
      font-size: var(--big-font-size);
      margin-bottom: 1rem;
      margin-top: 2rem;
      font-weight: var(--font-medium);
    }

    & .skills__line {
      min-width: 60%;
      margin: 1rem auto;
      border: none;
      height: 1px;
      background: linear-gradient(
        to right,
        transparent,
        var(--hover-color),
        transparent
      );
    }
  }

  & .card__skills {
    border: 1px solid #373535;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    opacity: 0.9;
    transition: all 1s ease;

    & .card__title {
      display: flex;
      gap: 1rem;
      align-items: center;
      margin-bottom: 0.8rem;

      & h3 {
        font-size: 1.2rem;
        font-weight: var(--font-semibold);
      }
    }

    & .card__tecnologies {
      margin-top: 0.9rem;
      display: flex;
      justify-content: space-around;
      flex-grow: 1;
      flex-wrap: wrap;
      gap: 1rem;

      & .tecnologies {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem;
        border: 1px solid #373535;
        background-color: var(--secondary-color);
        border-radius: 7px;
      }
    }
  }
}

.color-icon {
  font-size: 1.2rem;
  color: var(--hover-color);
}

svg {
  fill: var(--hover-color);
}

/* hover */
.card__skills:hover {
  filter: brightness(1.8); /* 1.0 es normal, >1 es más claro */
}


@media (min-width: 320px) and (max-width: 360px) {
  .card__skills{
    margin-right: 0.7rem;
  }
}